=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class ApproveAuthorizationRequestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve Authorization Request by Id
    # Approve a Authorization Request via API 
    # @param authorization_id [String] ID of the authorization request to approve
    # @param approve_authorization_request [ApproveAuthorizationRequest] Approve Authorization Request
    # @param [Hash] opts the optional parameters
    # @return [UnitAuthorizationRequestResponse]
    def execute(authorization_id, approve_authorization_request, opts = {})
      data, _status_code, _headers = execute_with_http_info(authorization_id, approve_authorization_request, opts)
      data
    end

    # Approve Authorization Request by Id
    # Approve a Authorization Request via API 
    # @param authorization_id [String] ID of the authorization request to approve
    # @param approve_authorization_request [ApproveAuthorizationRequest] Approve Authorization Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitAuthorizationRequestResponse, Integer, Hash)>] UnitAuthorizationRequestResponse data, response status code and response headers
    def execute_with_http_info(authorization_id, approve_authorization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApproveAuthorizationRequestApi.execute ...'
      end
      # verify the required parameter 'authorization_id' is set
      if @api_client.config.client_side_validation && authorization_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorization_id' when calling ApproveAuthorizationRequestApi.execute"
      end
      # verify the required parameter 'approve_authorization_request' is set
      if @api_client.config.client_side_validation && approve_authorization_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_authorization_request' when calling ApproveAuthorizationRequestApi.execute"
      end
      # resource path
      local_var_path = '/authorization-requests/{authorizationId}/approve'.sub('{' + 'authorizationId' + '}', CGI.escape(authorization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_authorization_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitAuthorizationRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ApproveAuthorizationRequestApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApproveAuthorizationRequestApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
