=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class CreateCustomerTokenVerificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Customer Token Verification
    # Create a Customer Token Verification via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_verification [CreateCustomerTokenVerification] Create Customer Token Verification Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerTokenVerificationResponse]
    def execute(customer_id, create_customer_token_verification, opts = {})
      data, _status_code, _headers = execute_with_http_info(customer_id, create_customer_token_verification, opts)
      data
    end

    # Create Customer Token Verification
    # Create a Customer Token Verification via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_verification [CreateCustomerTokenVerification] Create Customer Token Verification Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerTokenVerificationResponse, Integer, Hash)>] UnitCustomerTokenVerificationResponse data, response status code and response headers
    def execute_with_http_info(customer_id, create_customer_token_verification, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreateCustomerTokenVerificationApi.execute ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling CreateCustomerTokenVerificationApi.execute"
      end
      # verify the required parameter 'create_customer_token_verification' is set
      if @api_client.config.client_side_validation && create_customer_token_verification.nil?
        fail ArgumentError, "Missing the required parameter 'create_customer_token_verification' when calling CreateCustomerTokenVerificationApi.execute"
      end
      # resource path
      local_var_path = '/customers/{customerId}/token/verification'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_customer_token_verification)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerTokenVerificationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CreateCustomerTokenVerificationApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreateCustomerTokenVerificationApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
