=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class UpdateCounterpartyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update Counterparty
    # Update a Counterparty via API 
    # @param counterparty_id [String] ID of the counterparty to update
    # @param update_counterparty [UpdateCounterparty] Update Counterparty Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCounterpartyResponse]
    def execute(counterparty_id, update_counterparty, opts = {})
      data, _status_code, _headers = execute_with_http_info(counterparty_id, update_counterparty, opts)
      data
    end

    # Update Counterparty
    # Update a Counterparty via API 
    # @param counterparty_id [String] ID of the counterparty to update
    # @param update_counterparty [UpdateCounterparty] Update Counterparty Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCounterpartyResponse, Integer, Hash)>] UnitCounterpartyResponse data, response status code and response headers
    def execute_with_http_info(counterparty_id, update_counterparty, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpdateCounterpartyApi.execute ...'
      end
      # verify the required parameter 'counterparty_id' is set
      if @api_client.config.client_side_validation && counterparty_id.nil?
        fail ArgumentError, "Missing the required parameter 'counterparty_id' when calling UpdateCounterpartyApi.execute"
      end
      # verify the required parameter 'update_counterparty' is set
      if @api_client.config.client_side_validation && update_counterparty.nil?
        fail ArgumentError, "Missing the required parameter 'update_counterparty' when calling UpdateCounterpartyApi.execute"
      end
      # resource path
      local_var_path = '/counterparties/{counterpartyId}'.sub('{' + 'counterpartyId' + '}', CGI.escape(counterparty_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_counterparty)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCounterpartyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UpdateCounterpartyApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpdateCounterpartyApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
