=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module UnitOpenapiRubySdk
  class UnitApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Atm Deposit Simulation
    # Activate Card Simulation via API
    # @param card_id [String] ID of the card to activate
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def activate_card_simulation(card_id, opts = {})
      activate_card_simulation_with_http_info(card_id, opts)
      nil
    end

    # Create Atm Deposit Simulation
    # Activate Card Simulation via API
    # @param card_id [String] ID of the card to activate
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def activate_card_simulation_with_http_info(card_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.activate_card_simulation ...'
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_id' when calling UnitApi.activate_card_simulation"
      end
      # resource path
      local_var_path = '/sandbox/cards/{cardId}/activate'.sub('{' + 'cardId' + '}', CGI.escape(card_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.activate_card_simulation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#activate_card_simulation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Activate Account Control Agreement by Id
    # Activate Control Agreement for Account via API 
    # @param account_id [String] ID of the account
    # @param [Hash] opts the optional parameters
    # @return [UnitAccountResponse]
    def activate_control_agreement_for_account(account_id, opts = {})
      data, _status_code, _headers = activate_control_agreement_for_account_with_http_info(account_id, opts)
      data
    end

    # Activate Account Control Agreement by Id
    # Activate Control Agreement for Account via API 
    # @param account_id [String] ID of the account
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitAccountResponse, Integer, Hash)>] UnitAccountResponse data, response status code and response headers
    def activate_control_agreement_for_account_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.activate_control_agreement_for_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling UnitApi.activate_control_agreement_for_account"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/activate-daca'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.activate_control_agreement_for_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#activate_control_agreement_for_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Owners to Account by Id
    # Add Owners to Account via API 
    # @param account_id [String] ID of the account to add owners to
    # @param add_account_owners_request [AddAccountOwnersRequest] Add Account Owners Request
    # @param [Hash] opts the optional parameters
    # @return [UnitDepositAccountResponse]
    def add_account_owners(account_id, add_account_owners_request, opts = {})
      data, _status_code, _headers = add_account_owners_with_http_info(account_id, add_account_owners_request, opts)
      data
    end

    # Add Owners to Account by Id
    # Add Owners to Account via API 
    # @param account_id [String] ID of the account to add owners to
    # @param add_account_owners_request [AddAccountOwnersRequest] Add Account Owners Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitDepositAccountResponse, Integer, Hash)>] UnitDepositAccountResponse data, response status code and response headers
    def add_account_owners_with_http_info(account_id, add_account_owners_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.add_account_owners ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling UnitApi.add_account_owners"
      end
      # verify the required parameter 'add_account_owners_request' is set
      if @api_client.config.client_side_validation && add_account_owners_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_account_owners_request' when calling UnitApi.add_account_owners"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/relationships/customers'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_account_owners_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitDepositAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.add_account_owners",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#add_account_owners\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Authorized Users by Id
    # Add Authorized Users via API
    # @param customer_id [String] ID of the customer to add authorized users to
    # @param add_authorized_users_request [AddAuthorizedUsersRequest] Add Authorized Users Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerResponse]
    def add_authorized_users(customer_id, add_authorized_users_request, opts = {})
      data, _status_code, _headers = add_authorized_users_with_http_info(customer_id, add_authorized_users_request, opts)
      data
    end

    # Add Authorized Users by Id
    # Add Authorized Users via API
    # @param customer_id [String] ID of the customer to add authorized users to
    # @param add_authorized_users_request [AddAuthorizedUsersRequest] Add Authorized Users Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerResponse, Integer, Hash)>] UnitCustomerResponse data, response status code and response headers
    def add_authorized_users_with_http_info(customer_id, add_authorized_users_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.add_authorized_users ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling UnitApi.add_authorized_users"
      end
      # verify the required parameter 'add_authorized_users_request' is set
      if @api_client.config.client_side_validation && add_authorized_users_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_authorized_users_request' when calling UnitApi.add_authorized_users"
      end
      # resource path
      local_var_path = '/customers/{customerId}/authorized-users'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_authorized_users_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.add_authorized_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#add_authorized_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Advance Received Payment by Id
    # Advance a Received Payment via API 
    # @param payment_id [String] ID of the payment to advance
    # @param [Hash] opts the optional parameters
    # @return [UnitReceivedPaymentResponse]
    def advance_received_payment(payment_id, opts = {})
      data, _status_code, _headers = advance_received_payment_with_http_info(payment_id, opts)
      data
    end

    # Advance Received Payment by Id
    # Advance a Received Payment via API 
    # @param payment_id [String] ID of the payment to advance
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitReceivedPaymentResponse, Integer, Hash)>] UnitReceivedPaymentResponse data, response status code and response headers
    def advance_received_payment_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.advance_received_payment ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling UnitApi.advance_received_payment"
      end
      # resource path
      local_var_path = '/received-payments/{paymentId}/advance'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitReceivedPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.advance_received_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#advance_received_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve Authorization Request by Id
    # Approve a Authorization Request via API 
    # @param authorization_id [String] ID of the authorization request to approve
    # @param approve_authorization_request [ApproveAuthorizationRequest] Approve Authorization Request
    # @param [Hash] opts the optional parameters
    # @return [UnitAuthorizationRequestResponse]
    def approve_authorization_request(authorization_id, approve_authorization_request, opts = {})
      data, _status_code, _headers = approve_authorization_request_with_http_info(authorization_id, approve_authorization_request, opts)
      data
    end

    # Approve Authorization Request by Id
    # Approve a Authorization Request via API 
    # @param authorization_id [String] ID of the authorization request to approve
    # @param approve_authorization_request [ApproveAuthorizationRequest] Approve Authorization Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitAuthorizationRequestResponse, Integer, Hash)>] UnitAuthorizationRequestResponse data, response status code and response headers
    def approve_authorization_request_with_http_info(authorization_id, approve_authorization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.approve_authorization_request ...'
      end
      # verify the required parameter 'authorization_id' is set
      if @api_client.config.client_side_validation && authorization_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorization_id' when calling UnitApi.approve_authorization_request"
      end
      # verify the required parameter 'approve_authorization_request' is set
      if @api_client.config.client_side_validation && approve_authorization_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_authorization_request' when calling UnitApi.approve_authorization_request"
      end
      # resource path
      local_var_path = '/authorization-requests/{authorizationId}/approve'.sub('{' + 'authorizationId' + '}', CGI.escape(authorization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_authorization_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitAuthorizationRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.approve_authorization_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#approve_authorization_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve Check Payment by Id
    # Approve a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to approve
    # @param approve_check_payment_request [ApproveCheckPaymentRequest] Approve Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckPaymentResponse]
    def approve_check_payment(check_payment_id, approve_check_payment_request, opts = {})
      data, _status_code, _headers = approve_check_payment_with_http_info(check_payment_id, approve_check_payment_request, opts)
      data
    end

    # Approve Check Payment by Id
    # Approve a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to approve
    # @param approve_check_payment_request [ApproveCheckPaymentRequest] Approve Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckPaymentResponse, Integer, Hash)>] UnitCheckPaymentResponse data, response status code and response headers
    def approve_check_payment_with_http_info(check_payment_id, approve_check_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.approve_check_payment ...'
      end
      # verify the required parameter 'check_payment_id' is set
      if @api_client.config.client_side_validation && check_payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_payment_id' when calling UnitApi.approve_check_payment"
      end
      # verify the required parameter 'approve_check_payment_request' is set
      if @api_client.config.client_side_validation && approve_check_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_check_payment_request' when calling UnitApi.approve_check_payment"
      end
      # resource path
      local_var_path = '/check-payments/{checkPaymentId}/approve'.sub('{' + 'checkPaymentId' + '}', CGI.escape(check_payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_check_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.approve_check_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#approve_check_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive Customer by Id
    # Archive a Customer via API 
    # @param customer_id [String] ID of the customer to archive
    # @param archive_customer_request [ArchiveCustomerRequest] Archive Customer Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerResponse]
    def archive_customer(customer_id, archive_customer_request, opts = {})
      data, _status_code, _headers = archive_customer_with_http_info(customer_id, archive_customer_request, opts)
      data
    end

    # Archive Customer by Id
    # Archive a Customer via API 
    # @param customer_id [String] ID of the customer to archive
    # @param archive_customer_request [ArchiveCustomerRequest] Archive Customer Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerResponse, Integer, Hash)>] UnitCustomerResponse data, response status code and response headers
    def archive_customer_with_http_info(customer_id, archive_customer_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.archive_customer ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling UnitApi.archive_customer"
      end
      # verify the required parameter 'archive_customer_request' is set
      if @api_client.config.client_side_validation && archive_customer_request.nil?
        fail ArgumentError, "Missing the required parameter 'archive_customer_request' when calling UnitApi.archive_customer"
      end
      # resource path
      local_var_path = '/customers/{customerId}/archive'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(archive_customer_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.archive_customer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#archive_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel Application by Id
    # Cancel a Application via API 
    # @param application_id [String] ID of the application to get
    # @param cancel_application_request [CancelApplicationRequest] Cancel Application Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCancelApplicationResponse]
    def cancel_application(application_id, cancel_application_request, opts = {})
      data, _status_code, _headers = cancel_application_with_http_info(application_id, cancel_application_request, opts)
      data
    end

    # Cancel Application by Id
    # Cancel a Application via API 
    # @param application_id [String] ID of the application to get
    # @param cancel_application_request [CancelApplicationRequest] Cancel Application Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCancelApplicationResponse, Integer, Hash)>] UnitCancelApplicationResponse data, response status code and response headers
    def cancel_application_with_http_info(application_id, cancel_application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.cancel_application ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling UnitApi.cancel_application"
      end
      # verify the required parameter 'cancel_application_request' is set
      if @api_client.config.client_side_validation && cancel_application_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_application_request' when calling UnitApi.cancel_application"
      end
      # resource path
      local_var_path = '/applications/{applicationId}/cancel'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_application_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCancelApplicationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.cancel_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#cancel_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel Check Payment by Id
    # Cancel a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to cancel
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckPaymentResponse]
    def cancel_check_payment(check_payment_id, opts = {})
      data, _status_code, _headers = cancel_check_payment_with_http_info(check_payment_id, opts)
      data
    end

    # Cancel Check Payment by Id
    # Cancel a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to cancel
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckPaymentResponse, Integer, Hash)>] UnitCheckPaymentResponse data, response status code and response headers
    def cancel_check_payment_with_http_info(check_payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.cancel_check_payment ...'
      end
      # verify the required parameter 'check_payment_id' is set
      if @api_client.config.client_side_validation && check_payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_payment_id' when calling UnitApi.cancel_check_payment"
      end
      # resource path
      local_var_path = '/check-payments/{checkPaymentId}/cancel'.sub('{' + 'checkPaymentId' + '}', CGI.escape(check_payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.cancel_check_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#cancel_check_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a Payment by Id
    # Cancel a Payment via API 
    # @param payment_id [String] ID of the payment to cancel
    # @param body [Object] Pass empty object in order for content-type to be aquired correctly
    # @param [Hash] opts the optional parameters
    # @return [UnitPaymentResponse]
    def cancel_payment(payment_id, body, opts = {})
      data, _status_code, _headers = cancel_payment_with_http_info(payment_id, body, opts)
      data
    end

    # Cancel a Payment by Id
    # Cancel a Payment via API 
    # @param payment_id [String] ID of the payment to cancel
    # @param body [Object] Pass empty object in order for content-type to be aquired correctly
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitPaymentResponse, Integer, Hash)>] UnitPaymentResponse data, response status code and response headers
    def cancel_payment_with_http_info(payment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.cancel_payment ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling UnitApi.cancel_payment"
      end
      # resource path
      local_var_path = '/payments/{paymentId}/cancel'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.cancel_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#cancel_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close an Account by Id
    # Close an Account via API 
    # @param account_id [String] ID of the account to close
    # @param close_account_request [CloseAccountRequest] Close Account Request
    # @param [Hash] opts the optional parameters
    # @return [UnitAccountResponse]
    def close_account(account_id, close_account_request, opts = {})
      data, _status_code, _headers = close_account_with_http_info(account_id, close_account_request, opts)
      data
    end

    # Close an Account by Id
    # Close an Account via API 
    # @param account_id [String] ID of the account to close
    # @param close_account_request [CloseAccountRequest] Close Account Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitAccountResponse, Integer, Hash)>] UnitAccountResponse data, response status code and response headers
    def close_account_with_http_info(account_id, close_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.close_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling UnitApi.close_account"
      end
      # verify the required parameter 'close_account_request' is set
      if @api_client.config.client_side_validation && close_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'close_account_request' when calling UnitApi.close_account"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/close'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(close_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.close_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#close_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close a Card
    # Close a Card via API 
    # @param card_id [String] ID of the card to close
    # @param [Hash] opts the optional parameters
    # @return [UnitCardResponse]
    def close_card(card_id, opts = {})
      data, _status_code, _headers = close_card_with_http_info(card_id, opts)
      data
    end

    # Close a Card
    # Close a Card via API 
    # @param card_id [String] ID of the card to close
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCardResponse, Integer, Hash)>] UnitCardResponse data, response status code and response headers
    def close_card_with_http_info(card_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.close_card ...'
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_id' when calling UnitApi.close_card"
      end
      # resource path
      local_var_path = '/cards/{cardId}/close'.sub('{' + 'cardId' + '}', CGI.escape(card_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.close_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#close_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm by Id
    # Confirm a Check Deposit from API 
    # @param check_deposit_id [String] ID of the check deposit to confirm
    # @param confirm_check_deposit_request [ConfirmCheckDepositRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckDepositResponse]
    def confirm_check_deposit(check_deposit_id, confirm_check_deposit_request, opts = {})
      data, _status_code, _headers = confirm_check_deposit_with_http_info(check_deposit_id, confirm_check_deposit_request, opts)
      data
    end

    # Confirm by Id
    # Confirm a Check Deposit from API 
    # @param check_deposit_id [String] ID of the check deposit to confirm
    # @param confirm_check_deposit_request [ConfirmCheckDepositRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckDepositResponse, Integer, Hash)>] UnitCheckDepositResponse data, response status code and response headers
    def confirm_check_deposit_with_http_info(check_deposit_id, confirm_check_deposit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.confirm_check_deposit ...'
      end
      # verify the required parameter 'check_deposit_id' is set
      if @api_client.config.client_side_validation && check_deposit_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_deposit_id' when calling UnitApi.confirm_check_deposit"
      end
      # verify the required parameter 'confirm_check_deposit_request' is set
      if @api_client.config.client_side_validation && confirm_check_deposit_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_check_deposit_request' when calling UnitApi.confirm_check_deposit"
      end
      # resource path
      local_var_path = '/check-deposits/{checkDepositId}/confirm'.sub('{' + 'checkDepositId' + '}', CGI.escape(check_deposit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_check_deposit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckDepositResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.confirm_check_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#confirm_check_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Account
    # Create Account via API 
    # @param create_account_request [CreateAccountRequest] Create Account Request
    # @param [Hash] opts the optional parameters
    # @return [UnitAccountResponse]
    def create_account(create_account_request, opts = {})
      data, _status_code, _headers = create_account_with_http_info(create_account_request, opts)
      data
    end

    # Create Account
    # Create Account via API 
    # @param create_account_request [CreateAccountRequest] Create Account Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitAccountResponse, Integer, Hash)>] UnitAccountResponse data, response status code and response headers
    def create_account_with_http_info(create_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_account ...'
      end
      # verify the required parameter 'create_account_request' is set
      if @api_client.config.client_side_validation && create_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_account_request' when calling UnitApi.create_account"
      end
      # resource path
      local_var_path = '/accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create ACH Received Payment Transaction Simulation
    # Create ACH Received Payment Transaction Simulation via API 
    # @param create_ach_received_payment_transaction_request [CreateACHReceivedPaymentTransactionRequest] Create ACH Received Payment Transaction Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [UnitReceivedPaymentResponse]
    def create_ach_received_payment_transaction_simulation(create_ach_received_payment_transaction_request, opts = {})
      data, _status_code, _headers = create_ach_received_payment_transaction_simulation_with_http_info(create_ach_received_payment_transaction_request, opts)
      data
    end

    # Create ACH Received Payment Transaction Simulation
    # Create ACH Received Payment Transaction Simulation via API 
    # @param create_ach_received_payment_transaction_request [CreateACHReceivedPaymentTransactionRequest] Create ACH Received Payment Transaction Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitReceivedPaymentResponse, Integer, Hash)>] UnitReceivedPaymentResponse data, response status code and response headers
    def create_ach_received_payment_transaction_simulation_with_http_info(create_ach_received_payment_transaction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_ach_received_payment_transaction_simulation ...'
      end
      # verify the required parameter 'create_ach_received_payment_transaction_request' is set
      if @api_client.config.client_side_validation && create_ach_received_payment_transaction_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ach_received_payment_transaction_request' when calling UnitApi.create_ach_received_payment_transaction_simulation"
      end
      # resource path
      local_var_path = '/sandbox/received-payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ach_received_payment_transaction_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitReceivedPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_ach_received_payment_transaction_simulation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_ach_received_payment_transaction_simulation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Org API Token
    # Create an Org API Token via API 
    # @param user_id [String] ID of the user to create token for
    # @param create_api_token_request [CreateApiTokenRequest] Create Org API Token Request
    # @param [Hash] opts the optional parameters
    # @return [UnitApiTokenResponse]
    def create_api_token(user_id, create_api_token_request, opts = {})
      data, _status_code, _headers = create_api_token_with_http_info(user_id, create_api_token_request, opts)
      data
    end

    # Create Org API Token
    # Create an Org API Token via API 
    # @param user_id [String] ID of the user to create token for
    # @param create_api_token_request [CreateApiTokenRequest] Create Org API Token Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitApiTokenResponse, Integer, Hash)>] UnitApiTokenResponse data, response status code and response headers
    def create_api_token_with_http_info(user_id, create_api_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_api_token ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UnitApi.create_api_token"
      end
      # verify the required parameter 'create_api_token_request' is set
      if @api_client.config.client_side_validation && create_api_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_token_request' when calling UnitApi.create_api_token"
      end
      # resource path
      local_var_path = '/users/{userId}/api-tokens'.sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitApiTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Application
    # Create an Application via API 
    # @param create_application_request [CreateApplicationRequest] Create Application Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCreateApplicationResponse]
    def create_application(create_application_request, opts = {})
      data, _status_code, _headers = create_application_with_http_info(create_application_request, opts)
      data
    end

    # Create Application
    # Create an Application via API 
    # @param create_application_request [CreateApplicationRequest] Create Application Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCreateApplicationResponse, Integer, Hash)>] UnitCreateApplicationResponse data, response status code and response headers
    def create_application_with_http_info(create_application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_application ...'
      end
      # verify the required parameter 'create_application_request' is set
      if @api_client.config.client_side_validation && create_application_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_application_request' when calling UnitApi.create_application"
      end
      # resource path
      local_var_path = '/applications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_application_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCreateApplicationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an application document
    # Create an application document via API
    # @param application_id [String] ID of the application to create a file for
    # @param content_type [DefaultContentType] A workaround to properly assign the content type for the request body while providing no body, just set the one possible enum value
    # @param [Hash] opts the optional parameters
    # @return [UnitDocumentResponse]
    def create_application_document(application_id, content_type, opts = {})
      data, _status_code, _headers = create_application_document_with_http_info(application_id, content_type, opts)
      data
    end

    # Create an application document
    # Create an application document via API
    # @param application_id [String] ID of the application to create a file for
    # @param content_type [DefaultContentType] A workaround to properly assign the content type for the request body while providing no body, just set the one possible enum value
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitDocumentResponse, Integer, Hash)>] UnitDocumentResponse data, response status code and response headers
    def create_application_document_with_http_info(application_id, content_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_application_document ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling UnitApi.create_application_document"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling UnitApi.create_application_document"
      end
      # resource path
      local_var_path = '/applications/{applicationId}/documents'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      header_params[:'Content-Type'] = content_type

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitDocumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_application_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_application_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Application Form
    # Create an Application Form via API 
    # @param create_application_form_request [CreateApplicationFormRequest] Create Application Form Request
    # @param [Hash] opts the optional parameters
    # @return [UnitApplicationFormResponse]
    def create_application_form(create_application_form_request, opts = {})
      data, _status_code, _headers = create_application_form_with_http_info(create_application_form_request, opts)
      data
    end

    # Create Application Form
    # Create an Application Form via API 
    # @param create_application_form_request [CreateApplicationFormRequest] Create Application Form Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitApplicationFormResponse, Integer, Hash)>] UnitApplicationFormResponse data, response status code and response headers
    def create_application_form_with_http_info(create_application_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_application_form ...'
      end
      # verify the required parameter 'create_application_form_request' is set
      if @api_client.config.client_side_validation && create_application_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_application_form_request' when calling UnitApi.create_application_form"
      end
      # resource path
      local_var_path = '/application-forms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_application_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitApplicationFormResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_application_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_application_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Atm Deposit Simulation
    # Create Atm Deposit Simulation via API 
    # @param create_atm_deposit_simulation_request [CreateAtmDepositSimulationRequest] Create Atm Deposit Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [UnitDepositAccountResponse]
    def create_atm_deposit_simulation(create_atm_deposit_simulation_request, opts = {})
      data, _status_code, _headers = create_atm_deposit_simulation_with_http_info(create_atm_deposit_simulation_request, opts)
      data
    end

    # Create Atm Deposit Simulation
    # Create Atm Deposit Simulation via API 
    # @param create_atm_deposit_simulation_request [CreateAtmDepositSimulationRequest] Create Atm Deposit Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitDepositAccountResponse, Integer, Hash)>] UnitDepositAccountResponse data, response status code and response headers
    def create_atm_deposit_simulation_with_http_info(create_atm_deposit_simulation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_atm_deposit_simulation ...'
      end
      # verify the required parameter 'create_atm_deposit_simulation_request' is set
      if @api_client.config.client_side_validation && create_atm_deposit_simulation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_atm_deposit_simulation_request' when calling UnitApi.create_atm_deposit_simulation"
      end
      # resource path
      local_var_path = '/sandbox/atm-deposits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_atm_deposit_simulation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitDepositAccountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_atm_deposit_simulation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_atm_deposit_simulation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Card
    # Create a Card via API 
    # @param create_card_request [CreateCardRequest] Create Card Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCardResponse]
    def create_card(create_card_request, opts = {})
      data, _status_code, _headers = create_card_with_http_info(create_card_request, opts)
      data
    end

    # Create a Card
    # Create a Card via API 
    # @param create_card_request [CreateCardRequest] Create Card Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCardResponse, Integer, Hash)>] UnitCardResponse data, response status code and response headers
    def create_card_with_http_info(create_card_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_card ...'
      end
      # verify the required parameter 'create_card_request' is set
      if @api_client.config.client_side_validation && create_card_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_card_request' when calling UnitApi.create_card"
      end
      # resource path
      local_var_path = '/cards'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_card_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Check Deposit
    # Create a Check Deposit via API 
    # @param create_check_deposit_request [CreateCheckDepositRequest] Create Check Deposit Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckDepositResponse]
    def create_check_deposit(create_check_deposit_request, opts = {})
      data, _status_code, _headers = create_check_deposit_with_http_info(create_check_deposit_request, opts)
      data
    end

    # Create Check Deposit
    # Create a Check Deposit via API 
    # @param create_check_deposit_request [CreateCheckDepositRequest] Create Check Deposit Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckDepositResponse, Integer, Hash)>] UnitCheckDepositResponse data, response status code and response headers
    def create_check_deposit_with_http_info(create_check_deposit_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_check_deposit ...'
      end
      # verify the required parameter 'create_check_deposit_request' is set
      if @api_client.config.client_side_validation && create_check_deposit_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_check_deposit_request' when calling UnitApi.create_check_deposit"
      end
      # resource path
      local_var_path = '/check-deposits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_check_deposit_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckDepositResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_check_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_check_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Check Payment
    # Create Check Payment via API 
    # @param create_check_payment_request [CreateCheckPaymentRequest] Create Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckPaymentResponse]
    def create_check_payment(create_check_payment_request, opts = {})
      data, _status_code, _headers = create_check_payment_with_http_info(create_check_payment_request, opts)
      data
    end

    # Create Check Payment
    # Create Check Payment via API 
    # @param create_check_payment_request [CreateCheckPaymentRequest] Create Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckPaymentResponse, Integer, Hash)>] UnitCheckPaymentResponse data, response status code and response headers
    def create_check_payment_with_http_info(create_check_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_check_payment ...'
      end
      # verify the required parameter 'create_check_payment_request' is set
      if @api_client.config.client_side_validation && create_check_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_check_payment_request' when calling UnitApi.create_check_payment"
      end
      # resource path
      local_var_path = '/check-payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_check_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_check_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_check_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Counterparty
    # Create a counterparty via API 
    # @param create_counterparty_request [CreateCounterpartyRequest] Create Counterparty Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCounterpartyResponse]
    def create_counterparty(create_counterparty_request, opts = {})
      data, _status_code, _headers = create_counterparty_with_http_info(create_counterparty_request, opts)
      data
    end

    # Create Counterparty
    # Create a counterparty via API 
    # @param create_counterparty_request [CreateCounterpartyRequest] Create Counterparty Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCounterpartyResponse, Integer, Hash)>] UnitCounterpartyResponse data, response status code and response headers
    def create_counterparty_with_http_info(create_counterparty_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_counterparty ...'
      end
      # verify the required parameter 'create_counterparty_request' is set
      if @api_client.config.client_side_validation && create_counterparty_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_counterparty_request' when calling UnitApi.create_counterparty"
      end
      # resource path
      local_var_path = '/counterparties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_counterparty_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCounterpartyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_counterparty",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_counterparty\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Customer Token
    # Create a Customer Token via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_request [CreateCustomerTokenRequest] Create Customer Token Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerTokenResponse]
    def create_customer_token(customer_id, create_customer_token_request, opts = {})
      data, _status_code, _headers = create_customer_token_with_http_info(customer_id, create_customer_token_request, opts)
      data
    end

    # Create Customer Token
    # Create a Customer Token via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_request [CreateCustomerTokenRequest] Create Customer Token Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerTokenResponse, Integer, Hash)>] UnitCustomerTokenResponse data, response status code and response headers
    def create_customer_token_with_http_info(customer_id, create_customer_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_customer_token ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling UnitApi.create_customer_token"
      end
      # verify the required parameter 'create_customer_token_request' is set
      if @api_client.config.client_side_validation && create_customer_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_customer_token_request' when calling UnitApi.create_customer_token"
      end
      # resource path
      local_var_path = '/customers/{customerId}/token'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_customer_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_customer_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_customer_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Customer Token Verification
    # Create a Customer Token Verification via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_verification_request [CreateCustomerTokenVerificationRequest] Create Customer Token Verification Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerTokenVerificationResponse]
    def create_customer_token_verification(customer_id, create_customer_token_verification_request, opts = {})
      data, _status_code, _headers = create_customer_token_verification_with_http_info(customer_id, create_customer_token_verification_request, opts)
      data
    end

    # Create Customer Token Verification
    # Create a Customer Token Verification via API 
    # @param customer_id [String] ID of the customer to create token for
    # @param create_customer_token_verification_request [CreateCustomerTokenVerificationRequest] Create Customer Token Verification Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerTokenVerificationResponse, Integer, Hash)>] UnitCustomerTokenVerificationResponse data, response status code and response headers
    def create_customer_token_verification_with_http_info(customer_id, create_customer_token_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_customer_token_verification ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling UnitApi.create_customer_token_verification"
      end
      # verify the required parameter 'create_customer_token_verification_request' is set
      if @api_client.config.client_side_validation && create_customer_token_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_customer_token_verification_request' when calling UnitApi.create_customer_token_verification"
      end
      # resource path
      local_var_path = '/customers/{customerId}/token/verification'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_customer_token_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerTokenVerificationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_customer_token_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_customer_token_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Fee
    # Create a Fee via API 
    # @param create_fee_request [CreateFeeRequest] Create Fee Request
    # @param [Hash] opts the optional parameters
    # @return [UnitFeeResponse]
    def create_fee(create_fee_request, opts = {})
      data, _status_code, _headers = create_fee_with_http_info(create_fee_request, opts)
      data
    end

    # Create Fee
    # Create a Fee via API 
    # @param create_fee_request [CreateFeeRequest] Create Fee Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitFeeResponse, Integer, Hash)>] UnitFeeResponse data, response status code and response headers
    def create_fee_with_http_info(create_fee_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_fee ...'
      end
      # verify the required parameter 'create_fee_request' is set
      if @api_client.config.client_side_validation && create_fee_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_fee_request' when calling UnitApi.create_fee"
      end
      # resource path
      local_var_path = '/fees'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_fee_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitFeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_fee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_fee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Incoming ACH Payment Simulation
    # Create Incoming ACH Payment Simulation via API 
    # @param create_incoming_ach_payment_request [CreateIncomingAchPaymentRequest] Create Incoming ACH Payment Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [UnitReceivedPaymentResponse]
    def create_incoming_ach_payment_simulation(create_incoming_ach_payment_request, opts = {})
      data, _status_code, _headers = create_incoming_ach_payment_simulation_with_http_info(create_incoming_ach_payment_request, opts)
      data
    end

    # Create Incoming ACH Payment Simulation
    # Create Incoming ACH Payment Simulation via API 
    # @param create_incoming_ach_payment_request [CreateIncomingAchPaymentRequest] Create Incoming ACH Payment Simulation Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitReceivedPaymentResponse, Integer, Hash)>] UnitReceivedPaymentResponse data, response status code and response headers
    def create_incoming_ach_payment_simulation_with_http_info(create_incoming_ach_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_incoming_ach_payment_simulation ...'
      end
      # verify the required parameter 'create_incoming_ach_payment_request' is set
      if @api_client.config.client_side_validation && create_incoming_ach_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_incoming_ach_payment_request' when calling UnitApi.create_incoming_ach_payment_simulation"
      end
      # resource path
      local_var_path = '/sandbox/received-ach-payment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_incoming_ach_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitReceivedPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_incoming_ach_payment_simulation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_incoming_ach_payment_simulation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Payment
    # Create a Payment via API 
    # @param create_payment_request [CreatePaymentRequest] Create Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitPaymentResponse]
    def create_payment(create_payment_request, opts = {})
      data, _status_code, _headers = create_payment_with_http_info(create_payment_request, opts)
      data
    end

    # Create a Payment
    # Create a Payment via API 
    # @param create_payment_request [CreatePaymentRequest] Create Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitPaymentResponse, Integer, Hash)>] UnitPaymentResponse data, response status code and response headers
    def create_payment_with_http_info(create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_payment ...'
      end
      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling UnitApi.create_payment"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Recurring Payment
    # Create a Recurring Payment via API 
    # @param create_recurring_payment_request [CreateRecurringPaymentRequest] Create Recurring Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitRecurringPaymentResponse]
    def create_recurring_payment(create_recurring_payment_request, opts = {})
      data, _status_code, _headers = create_recurring_payment_with_http_info(create_recurring_payment_request, opts)
      data
    end

    # Create Recurring Payment
    # Create a Recurring Payment via API 
    # @param create_recurring_payment_request [CreateRecurringPaymentRequest] Create Recurring Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitRecurringPaymentResponse, Integer, Hash)>] UnitRecurringPaymentResponse data, response status code and response headers
    def create_recurring_payment_with_http_info(create_recurring_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_recurring_payment ...'
      end
      # verify the required parameter 'create_recurring_payment_request' is set
      if @api_client.config.client_side_validation && create_recurring_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_recurring_payment_request' when calling UnitApi.create_recurring_payment"
      end
      # resource path
      local_var_path = '/recurring-payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_recurring_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitRecurringPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_recurring_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitApi#create_recurring_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Recurring Repayment
    # Create a Recurring Repayment via API
    # @param create_recurring_repayment_request [CreateRecurringRepaymentRequest] Create a Recurring Repayment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitRecurringRepaymentResponse]
    def create_recurring_repayment(create_recurring_repayment_request, opts = {})
      data, _status_code, _headers = create_recurring_repayment_with_http_info(create_recurring_repayment_request, opts)
      data
    end

    # Create a Recurring Repayment
    # Create a Recurring Repayment via API
    # @param create_recurring_repayment_request [CreateRecurringRepaymentRequest] Create a Recurring Repayment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitRecurringRepaymentResponse, Integer, Hash)>] UnitRecurringRepaymentResponse data, response status code and response headers
    def create_recurring_repayment_with_http_info(create_recurring_repayment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitApi.create_recurring_repayment ...'
      end
      # verify the required parameter 'create_recurring_repayment_request' is set
      if @api_client.config.client_side_validation && create_recurring_repayment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_recurring_repayment_request' when calling UnitApi.create_recurring_repayment"
      end
      # resource path
      local_var_path = '/recurring-repayments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_recurring_repayment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitRecurringRepaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UnitApi.create_recurring_repayment",
        :header_params => header_params,
        :query_params => query_params,
[...]
