=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class ArchiveCustomerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive Customer by Id
    # Archive a Customer via API 
    # @param customer_id [String] ID of the customer to archive
    # @param archive_customer_request [ArchiveCustomerRequest] Archive Customer Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCustomerResponse]
    def execute(customer_id, archive_customer_request, opts = {})
      data, _status_code, _headers = execute_with_http_info(customer_id, archive_customer_request, opts)
      data
    end

    # Archive Customer by Id
    # Archive a Customer via API 
    # @param customer_id [String] ID of the customer to archive
    # @param archive_customer_request [ArchiveCustomerRequest] Archive Customer Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCustomerResponse, Integer, Hash)>] UnitCustomerResponse data, response status code and response headers
    def execute_with_http_info(customer_id, archive_customer_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArchiveCustomerApi.execute ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling ArchiveCustomerApi.execute"
      end
      # verify the required parameter 'archive_customer_request' is set
      if @api_client.config.client_side_validation && archive_customer_request.nil?
        fail ArgumentError, "Missing the required parameter 'archive_customer_request' when calling ArchiveCustomerApi.execute"
      end
      # resource path
      local_var_path = '/customers/{customerId}/archive'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(archive_customer_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCustomerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ArchiveCustomerApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArchiveCustomerApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
