=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class CancelApplicationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Application by Id
    # Cancel a Application via API 
    # @param application_id [String] ID of the application to get
    # @param cancel_application_request [CancelApplicationRequest] Cancel Application Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCancelApplicationResponse]
    def execute(application_id, cancel_application_request, opts = {})
      data, _status_code, _headers = execute_with_http_info(application_id, cancel_application_request, opts)
      data
    end

    # Cancel Application by Id
    # Cancel a Application via API 
    # @param application_id [String] ID of the application to get
    # @param cancel_application_request [CancelApplicationRequest] Cancel Application Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCancelApplicationResponse, Integer, Hash)>] UnitCancelApplicationResponse data, response status code and response headers
    def execute_with_http_info(application_id, cancel_application_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CancelApplicationApi.execute ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling CancelApplicationApi.execute"
      end
      # verify the required parameter 'cancel_application_request' is set
      if @api_client.config.client_side_validation && cancel_application_request.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_application_request' when calling CancelApplicationApi.execute"
      end
      # resource path
      local_var_path = '/applications/{applicationId}/cancel'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_application_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCancelApplicationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CancelApplicationApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CancelApplicationApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
