=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class GetInstitutionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Institution by Routing Number
    # Get an Institution from API 
    # @param routing_number [String] routingNumber of the institution to get
    # @param [Hash] opts the optional parameters
    # @return [UnitInstitutionResponse]
    def execute(routing_number, opts = {})
      data, _status_code, _headers = execute_with_http_info(routing_number, opts)
      data
    end

    # Get Institution by Routing Number
    # Get an Institution from API 
    # @param routing_number [String] routingNumber of the institution to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitInstitutionResponse, Integer, Hash)>] UnitInstitutionResponse data, response status code and response headers
    def execute_with_http_info(routing_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GetInstitutionApi.execute ...'
      end
      # verify the required parameter 'routing_number' is set
      if @api_client.config.client_side_validation && routing_number.nil?
        fail ArgumentError, "Missing the required parameter 'routing_number' when calling GetInstitutionApi.execute"
      end
      # resource path
      local_var_path = '/institutions/{routingNumber}'.sub('{' + 'routingNumber' + '}', CGI.escape(routing_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitInstitutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GetInstitutionApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GetInstitutionApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
