=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class RetrieveBarcodeImageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Barcode Image
    # Retrieves a cash deposit barcode image using the unique barcode number provided by the Generate Barcode endpoint.
    # @param barcode_number [String] The unique identifier of a barcode, obtained from Generate Barcode endpoint.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def execute(barcode_number, opts = {})
      data, _status_code, _headers = execute_with_http_info(barcode_number, opts)
      data
    end

    # Get Barcode Image
    # Retrieves a cash deposit barcode image using the unique barcode number provided by the Generate Barcode endpoint.
    # @param barcode_number [String] The unique identifier of a barcode, obtained from Generate Barcode endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def execute_with_http_info(barcode_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetrieveBarcodeImageApi.execute ...'
      end
      # verify the required parameter 'barcode_number' is set
      if @api_client.config.client_side_validation && barcode_number.nil?
        fail ArgumentError, "Missing the required parameter 'barcode_number' when calling RetrieveBarcodeImageApi.execute"
      end
      # resource path
      local_var_path = '/cash-deposits/barcodes/{barcodeNumber}/image'.sub('{' + 'barcodeNumber' + '}', CGI.escape(barcode_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RetrieveBarcodeImageApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetrieveBarcodeImageApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
