=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class ReturnCheckPaymentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return Check Payment by Id
    # Return a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to return
    # @param return_check_payment_request [ReturnCheckPaymentRequest] Return Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitCheckPaymentResponse]
    def execute(check_payment_id, return_check_payment_request, opts = {})
      data, _status_code, _headers = execute_with_http_info(check_payment_id, return_check_payment_request, opts)
      data
    end

    # Return Check Payment by Id
    # Return a Check Payment via API 
    # @param check_payment_id [String] ID of the check payment to return
    # @param return_check_payment_request [ReturnCheckPaymentRequest] Return Check Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitCheckPaymentResponse, Integer, Hash)>] UnitCheckPaymentResponse data, response status code and response headers
    def execute_with_http_info(check_payment_id, return_check_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnCheckPaymentApi.execute ...'
      end
      # verify the required parameter 'check_payment_id' is set
      if @api_client.config.client_side_validation && check_payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'check_payment_id' when calling ReturnCheckPaymentApi.execute"
      end
      # verify the required parameter 'return_check_payment_request' is set
      if @api_client.config.client_side_validation && return_check_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'return_check_payment_request' when calling ReturnCheckPaymentApi.execute"
      end
      # resource path
      local_var_path = '/check-payments/{checkPaymentId}/return'.sub('{' + 'checkPaymentId' + '}', CGI.escape(check_payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json; charset=utf-8'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(return_check_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitCheckPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReturnCheckPaymentApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnCheckPaymentApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
