=begin
#Unit OpenAPI specifications

#An OpenAPI specifications for unit-sdk clients

The version of the OpenAPI document: 0.0.2

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class UpdateReceivedPaymentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update Received Payment
    # Update a Received Payment via API 
    # @param payment_id [String] ID of the payment to update
    # @param update_received_payment [UpdateReceivedPayment] Update Received Payment Request
    # @param [Hash] opts the optional parameters
    # @return [UnitReceivedPaymentResponse]
    def execute(payment_id, update_received_payment, opts = {})
      data, _status_code, _headers = execute_with_http_info(payment_id, update_received_payment, opts)
      data
    end

    # Update Received Payment
    # Update a Received Payment via API 
    # @param payment_id [String] ID of the payment to update
    # @param update_received_payment [UpdateReceivedPayment] Update Received Payment Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnitReceivedPaymentResponse, Integer, Hash)>] UnitReceivedPaymentResponse data, response status code and response headers
    def execute_with_http_info(payment_id, update_received_payment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpdateReceivedPaymentApi.execute ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling UpdateReceivedPaymentApi.execute"
      end
      # verify the required parameter 'update_received_payment' is set
      if @api_client.config.client_side_validation && update_received_payment.nil?
        fail ArgumentError, "Missing the required parameter 'update_received_payment' when calling UpdateReceivedPaymentApi.execute"
      end
      # resource path
      local_var_path = '/received-payments/{paymentId}'.sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/vnd.api+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_received_payment)

      # return_type
      return_type = opts[:debug_return_type] || 'UnitReceivedPaymentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UpdateReceivedPaymentApi.execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpdateReceivedPaymentApi#execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
